<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>testPjt</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
    <servlet-name>ServletMappingEx1</servlet-name>
    <servlet-class>com.servlet.ServletMappingEx1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletDataShareEx</servlet-name>
    <servlet-class>com.servlet.ServletDataShareEx</servlet-class>
    <init-param>
      <param-name>adminId</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <param-name>adminPw</param-name>
      <param-value>1234</param-value>
    </init-param>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>ServletMappingEx1</servlet-name>
    <url-pattern>/mapping1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDataShareEx</servlet-name>
    <url-pattern>/share</url-pattern>
  </servlet-mapping>
  
  
  <context-param>
    <param-name>testId</param-name>
    <param-value>test</param-value>
  </context-param>
  <context-param>
    <param-name>testPw</param-name>
    <param-value>123</param-value>
  </context-param>
</web-app>